---
layout: default
---

<div class="home">
    <section class="banner">
        <div class="wrapper">
            <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
      <!--<a href="{{ "/agreement/" | prepend: site.baseurl }}" style="font-size: 20px;">Read now</a>-->
    </div>
    </section>

    <div class="wrapper">
        <div>
        <h2>Italiano</h2>
        {% for doc in site.data.docs %}
            {% if doc.done == "1" and doc.lang == "it" %}
                <li>
                    <a href="{{ site.baseurl }}{{doc.url}}">{{doc.title}}</a>
                </li>
            {% endif %}
        {% endfor %}
        </div>

      <div>
        <h2>Espanol</h2>
        {% for doc in site.data.docs %}
            {% if doc.done == "1" and doc.lang == "es" %}
          <li>
              <a href="{{ site.baseurl }}{{doc.url}}">{{doc.title}}</a>
          </li>
          {% endif %}
        {% endfor %}
      </div>

      <div>
        <h2>English</h2>
        {% for doc in site.data.docs %}
        {% if doc.done == "1" and doc.lang == "en" %}
          <li>
              <a href="{{ site.baseurl }}{{doc.url}}">{{doc.title}}</a>
          </li>
          {% endif %}
        {% endfor %}
      </div>

      <div>
        <h2>French</h2>
        {% for doc in site.data.docs %}
        {% if doc.done == "1" and doc.lang == "fr" %}
          <li>
              <a href="{{ site.baseurl }}{{doc.url}}">{{doc.title}}</a>
          </li>
          {% endif %}
        {% endfor %}
      </div>

  </div>
</div>
