<footer class="site-footer">

  <div>
    <div class="primary">
      <a href="https://silo.net/" rel="external">
          <img src="{{ "/img/silo-icon.jpg" | prepend: site.baseurl }}" width="65" height="79" alt="Silo">
      </a>
    </div>

    <div class="secondary">
      <ul>
        <li><a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}" rel="external">Contribute</a></li>
        <li><a href="#" rel="external">Terms of use</a></li>
        <li><a href="#" rel="external">Privacy policy</a></li>
        <li class="button"><a href="http://opendefinition.org/" rel="external"><img src="{{ site.baseurl }}/img/open-content.svg" width="80" height="15" alt="Open Content"/></a></li>
      </ul>
    </div>

    <div class="tertiary">
        <!-- <div>
        <p>This site woudl like to publish all Silo's words in an open and portable format</p>
        <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
        </div> -->
      {% if site.related_projects %}
      <div>
        <h6>Related Projects</h6>
        <ul>
          {% for project in site.related_projects %}
          <li><a href="{{ project.link }}">{{ project.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <ul class="icons">
        {% if site.github_repo %}
        <li class="source"><a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}" rel="external"><span class="text">Source</span></a></li>
        {% endif %}
      </ul>
    </div>

  </div>
</footer>
